/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: 'Roboto', sans-serif;
}
body,
html {
  margin: 40px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body,
  html {
    margin: 5px;
    height: 100%;
  }
}

.small-modal-dialog {
  width: 20%;
}

@media only screen and (max-width: 1650px) {
  .small-modal-dialog {
    width: 25%;
  }
}
