.confirm-dialog-title {
  text-align: center;
}

.confirm-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirm-dialog-content {
  text-align: center;
}
